body{
  background-image: url("https://i.postimg.cc/cH7gSfpC/image-share-1710499561006.png");
  background-repeat:repeat;
  background-attachment: fixed;




}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: red;
    border-right-color: green;
    border-bottom-color: blue;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  